<%- include('partials/header') -%>
<div class="container">
<h3>Add Book</h3>
<div class="row">
    <form action="books/addBook" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="author" name="author">
                <label for="author">Author</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="number" id="rating" name="rating" step=".01" min="0" max="10" autocomplete="off">
                <label for="rating">Rating</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="list-type" name="list-type">
                    <option value="" disabled selected>Choose a List</option>
                    <option value="completed">Completed</option>
                    <option value="readingList">Reading List</option>
                    <option value="favorite">Favorite</option>
                </select>
                <label for="listType">List Type</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn-large light-blue darken-4"></input>
            <a href="/dashboard" class="btn-large teal lighten-3">Cancel</a>
        </div>

    </form>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>
    <script>
        M.FormSelect.init(document.querySelector('#list-type'))
    </script>
</body>
</html>