<%- include('partials/header') -%>
<h1>Favorites</h1>
<table id="table" class="highlight responsive-table">
    <thead class="thead-dark">
        <tr>
            <th>Book Title</th>
            <th>Author Name</th>
            <th>Rating</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i < books.length; i++) {%>
            <tr class="book">
                <th><%= books[i].title %></th>
                <th><%= books[i].author %></th>
                <th><%= books[i].rating %></th>
                <th><span class='fa fa-trash'></span></th>
            </tr>
            <% } %>
    </tbody>
</table>
</div>
</div>
<div class="fixed-action-btn">
<a href="/bookForm" class="btn-floating btn-large waves-effect waves-light teal accent-3"><i class="fas fa-plus"></i></a>
</div>
