<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>Austin's Reading List (2022)</h1>
    <span class="booksRead">Books Read: </span>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Book Title</th>
                <th>Author Name</th>
                <th>Rating</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < books.length; i++) {%>
            <tr class="book">
                <th><%= books[i].title %></th>
                <th><%= books[i].author %></th>
                <th><%= books[i].rating %></th>
                <th><span class='fa fa-trash'></span></th>
            </tr>
            <% } %>
        </tbody>
    </table>