<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://media1.giphy.com/media/xT77Y1T0zY1gR5qe5O/200w.gif?cid=82a1493bzq3ww177qgswqw4kb450ezil9ejclmzt47kj7gn5&rid=200w.gif&ct=g">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Book Club</title>
</head>
<body class="login-body">
<div class="section">
    <div class="container login-container">
        <div class="card">
            <h3><i class="fa-solid fa-book-open"></i> Book Club</h3>
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <div class="card-content">
                <form action="/login" method="POST" autocomplete="off">
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" value="Sign-In" class="button orange lighten-5">
                </form>
                <span>Don't have an account? <a id="register" href="/signup">Register</a></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>