/*    General    */
li{
    list-style: none;
}

/*    Errors    */

.err-msg {
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 15px;
	color: red;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


/*    Headers     */



/*   Forms   */

.login-container{
    width: 600px;
    margin-top: 100px;
    text-align: center;
}
input{
    margin-bottom: 10px;
}

.button{
    width: 120px;
    height: 55px;
    background-color: rgb(28,17,47);
    color: white;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 15px;
}

h1{
    color: rgb(6,27,55);
}

.alert{
    color: red;
    font-size: 16px;
}


/*    Login    */

.card h3, .card li{
    color: rgb(28,17,47);
}

.card{
    border: 2px solid teal;
}

::placeholder{
    color: rgb(28,17,47);
    font-size: 18px;
}

.section a{
    margin-bottom: 10px;
    width: 350px;
}

span{
    font-size: 18px;
}

.login-p{
    margin-top: 10px !important;
    font-size: 18px;
}

/*   Tables    */

table{
    margin: 40px 0px;
}

/*    Friends    */

.card{
    display: flex;
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

.profile-cards{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    flex-wrap: wrap;
}

.friends{
    width: 30%;
}

/*   Community    */

.pagination{
    margin-bottom: 50px;
}

